/**
 * Overrides to reset.css
 */

html, button, input, select, textarea {
  color: #000000;
}

::-moz-selection { background: #39f; }
::selection { background: #39f; }

/*****************************************************************************/

html, body {
  background-color: #EEEEEE;
  font-family: Arial, sans-serif;
}

html, body, canvas {
  padding: 0;
  margin: 0;
}

canvas {
  background-color: #FFFFFF;
  border: 1px solid black;
  display: block;
  margin: 0 auto;
  user-select: none;
}
